
.inline-block {
    display: inline-block;
}

.color {
    height: 13px;
    display: inline-block;
    float: left;
}

.w1 {
    width: 1%;
}

.w2 {
    width: 2%;
}

.w3 {
    width: 3%;
}

.w5 {
    width: 5%;
}

.w8 {
    width: 8%;
}

.w13 {
    width: 13%;
}

.w21 {
    width: 21%;
}

.w34 {
    width: 34%;
}

.cl1 {
    background-color: #36749d ;
}

.cl2 {
    background-color: #4286B3 ;
}

.cl3 {
    background-color: #539acb ;
}

.cl4 {
    background-color: #275f85; /*green*/
}

.cl5 {
    background-color: #1b4f72;
}

.cl6 {
    background-color: #0f3956 ;
}

.cl7 {
    background-color: #06273e ;
}

.cl8 {
    background-color: black ;
}


